.head-section{
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.6)),url(./images/luca-bravo-9l_326FISzk-unsplash.jpg);
    min-height: 900px;
    max-width: 100%;
    background-position: center;
    background-size: cover;
}

:hover.header-a {
    color: #38761d;
    transition: 0.4s;
    box-shadow: 0 8px 6px -3px #38761d;
    border-bottom-left-radius: 65%;
    border-bottom-right-radius: 10%;
    border-top-right-radius: 40%;
    border-top-left-radius: 15%;
}
.box-container{
    
    
    box-shadow: inset 5px 5px 5px rgba(0,0,0,0.05),
                inset -5px -5px 5px rgba(255,255,255,0.5),
                5px 5px 5px rgba(0,0,0,0.05),
                -5px -5px 5px rgba(255,255,255,0.5);
    border-radius: 15px;
}
.card{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}